<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-md-12" *ngIf="statesLoaded | async">

			<!--begin::Portlet-->
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">
							Add County
						</h3>
					</div>
				</div>

				<!--begin::Form-->
				<form class="kt-form kt-form--label-right" [formGroup]="countyForm">
					<div class="kt-portlet__body">

						<div class="form-group row">
							<div class="col-6">
								<label for="example-number-input" class="col-form-label">County Name</label>
								<div>
									<input class="form-control" type="text" id="example-text-input" formControlName="county" placeholder="Enter your County Name" [ngClass]="{ 'is-invalid': submitted && countyForm.controls['county'].errors }">
									<div *ngIf="submitted && countyForm.controls['county'].errors" class="invalid-feedback">
										<div *ngIf="countyForm.controls['county'].errors.required">County is required</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<label for="example-text-input" class="col-form-label">County Short Name</label>
								<div>
									<input class="form-control" type="text" id="example-text-input" formControlName="countyShort" placeholder="Enter your County's short Name" [ngClass]="{ 'is-invalid': submitted && countyForm.controls['countyShort'].errors }">
									<div *ngIf="submitted && countyForm.controls['countyShort'].errors" class="invalid-feedback">
										<div *ngIf="countyForm.controls['countyShort'].errors.required">County Short Name is required</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<label for="example-text-input" class="col-form-label">State</label>
								<div>
									<select class="form-control kt-select2" id="kt_select2_1" name="" formControlName="stateId" [ngClass]="{ 'is-invalid': submitted && countyForm.controls['stateId'].errors }">
										<option [ngValue]="undefined" disabled selected> Please select one option </option>
										<option *ngFor="let state of states" [ngValue]="state.id">{{state.name}}</option>
									</select>
									<div *ngIf="submitted && countyForm.controls['stateId'].errors" class="invalid-feedback">
										<div *ngIf="countyForm.controls['stateId'].errors.required">State Option is required</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-2">
								</div>
								<div class="col-10">
									<button type="submit" class="btn btn-success" (click)="addCounty()">Add</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>

			<!--end::Portlet-->
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'County Table'" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
				<ng-container ktPortletTools>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="countiesLoaded | async">

					<!-- Checkbox Column -->
					<ng-container matColumnDef="select">
						<th mat-header-cell *matHeaderCellDef>
							<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
							</mat-checkbox>
						</th>
						<td mat-cell *matCellDef="let row">
							<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
							</mat-checkbox>
						</td>
					</ng-container>
					<!-- Position Column -->
					<ng-container matColumnDef="position">
						<th mat-header-cell *matHeaderCellDef> No. </th>
						<td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
					</ng-container>

					<!-- Name Column -->
					<ng-container matColumnDef="county">
						<th mat-header-cell *matHeaderCellDef> County </th>
						<td mat-cell *matCellDef="let element"> {{element.name}} </td>
					</ng-container>

					<ng-container matColumnDef="countyShort">
						<th mat-header-cell *matHeaderCellDef> County Short Name </th>
						<td mat-cell *matCellDef="let element"> {{element.short_name}} </td>
					</ng-container>

					<!-- Weight Column -->
					<ng-container matColumnDef="stateId">
						<th mat-header-cell *matHeaderCellDef> StateId </th>
						<td mat-cell *matCellDef="let element"> {{element.state_id}} </td>
					</ng-container>

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef width="106px" class="kt-pl-13">
							Actions
						</th>
						<td mat-cell *matCellDef="let element; let idx = index">
							<button mat-icon-button color="primary" matTooltip="Edit item" class="position-static edit-button" (click)="openEditDialog(element)">
								<mat-icon>create</mat-icon>
							</button>
							<button mat-icon-button color="warn" type="button" matTooltip="Delete item" class="position-static delete-button" (click)="openDeleteDialog(element)">
								<mat-icon>delete</mat-icon>
							</button>
						</td>
					</ng-container>


					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;">
					</tr>
				</table>
				<mat-paginator [pageSizeOptions]="[10,25,50]" showFirstLastButtons></mat-paginator>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>

<!-- end:: Content -->

