<div class="container">
    <h1 mat-dialog-title>Edit ZipCode</h1>
    <div mat-dialog-content c>
        <div class="form-group row">
            <div class="col-6">
                <label for="example-number-input" class="col-form-label">Zipcode</label>
                <div>
                    <input class="form-control" type="number" [(ngModel)]="data.zip_code" id="example-number-input">
                    <!-- <div *ngIf="submitted && zipcodeForm.controls['zipcode'].errors" class="invalid-feedback">
                        <div *ngIf="zipcodeForm.controls['zipcode'].errors.required">Zipcode is required</div>
                    </div> -->
                </div>
            </div>
            <div class="col-6">
                <label for="example-number-input" class="col-form-label">County</label>
                <div>
                    <input class="form-control" type="number" id="example-number-input" [(ngModel)]="data.county_id"  >
                    <!-- <div *ngIf="submitted && zipcodeForm.controls['countyId']errors" class="invalid-feedback">
                        <div *ngIf="zipcodeForm.controls['countyId'].errors.required">County Option is required</div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
      <button type="button" class="btn btn-warning" (click)="onNoClick()">Close</button>
      <button type="button" class="btn btn-info" cdkFocusInitial (click)="editZipcode(data)">Save changes</button>
    </div>
</div>